h1 {
    color: blue;
    font-weight: bold;
}
p {
    color: purple;
    
}
.mydiv {
    border: 5px outset red;
    background-color: rgba(154, 10, 9, 0.801);    
    text-align: center;

}
#header {
    font-size: 70px;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container > div {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #1c4186;
    border: 1px solid #531515;


}