body {
    font-family: Arial, sans-serif;
    background: blue;  
    margin: 0;
}

header {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

button {
    background-color: rgb(252, 252, 253);
    color: rgba(27, 40, 230, 0.822);
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    text-shadow: #333 1px 1px 2px;
}

.dashboard {
    padding: 20px;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border: 10px solid #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background: #0077b6;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

